/* fuentes */

@font-face {
    font-family: "Fraunces";
    src: url(../font/Fraunces_72pt-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Monterrat";
    src: url(../font/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Monterrat";
    src: url(../font/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

/* variables */

:root {
    font-size: 16px;
    --white: #FFFFFF;
    --cream: #F2EAE2;
    --AurometalSaurus: #6C7289;
    --DeepAquamarine: #3D8168;
    --Gunmetal: #1C232B;
    --fontTitle: "Fraunces";
    --fontFamily: "Monterrat";
}


/* globales */

body {
    display: flex;
    justify-content: center;
    align-items: center;

    block-size: 100vh;
    margin: 0;
    color: var(--AurometalSaurus);
    font-size: .875rem;
    background: var(--cream);
    font-family: var(--fontFamily);
    line-height: 1.5rem;
}

img {
    max-inline-size: 100%;
    block-size: auto;
    vertical-align: bottom;
    object-fit: cover;
}

/* estilos */

.article {
    margin-inline: 1rem;
    background: var(--white);
    border-radius: .625rem;
    overflow: hidden;
    max-inline-size: 21.4375rem;
}

.article_body {
    padding: 1.5rem;
}

.article_tag {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    line-height: auto;
}

.article_title,
.article_priceNow {
    font-family: var(--fontTitle);
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
}

.article_title {
    color: var(--Gunmetal);
    margin-block-start: .75rem;
}

.article_price {
    display: flex;
    gap: 1.1875rem;
    align-items: center;
    margin-block: 1.5rem 1.25rem;
}

.article_priceNow {
    color: var(--DeepAquamarine);
}

.article_priceBefore {
    text-decoration: line-through;
}

.article_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    inline-size: 100%;
    color: var(--white);
    padding-block: 1rem;
    font-weight: 700;
    font-family: var(--fontFamily);
    font-size: .875rem;
    line-height: auto;
    background: var(--DeepAquamarine);
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    transition: background .3s;

    &:hover {
        background: #1A4032;
    }
}


